@model LiveSupportRequestsViewModel
@using OnlineTechnicalSupport.Models.ViewModels
@{
    ViewBag.Title = "Canlı destek talepleri";
    Layout = "~/Views/Shared/_ManagerLayout.cshtml";
}

<h2>Canlı destek talepleri</h2>
<hr />
<button id="btn1" class="border-bottom-0 bg-white position-absolute mt-1">Talep havuzu</button>
<button id="btn2" class="border-bottom-0 position-absolute mt-1" style="margin-left:120px;">İlgilendiğim talepler</button>
<div class="border border-dark border-left-0 border-right-0 border-bottom-0" style="margin-top:47px;">
    <div id="requests" >
        <br />
        <table class="w-100 table-bordered table-striped table-light">
            <tr>
                <td>
                    <small class="font-weight-bold">Numara:</small>
                </td>
                <td>
                    <small class="font-weight-bold">Sorun başlığı:</small>
                </td>
                <td>
                    <small class="font-weight-bold">Sorun türü:</small>
                </td>
                <td>
                    <small class="font-weight-bold"> Ürün:</small>
                </td>
                <td>
                    <small class="font-weight-bold"> Oluşturma tarihi:</small>
                </td>
                <td>
                    <small class="font-weight-bold">İşlem:</small>
                </td>
            </tr>
            @foreach (var item in Model.UnManagedRequests)
            {
                using (Html.BeginForm("GetChat", "Manager", new { id = item.ChatId }, FormMethod.Post))
                {
                    <tr>
                        <td>
                            <small>@item.ChatId</small>
                        </td>
                        <td>
                            <small>@item.Title</small>
                        </td>
                        <td>
                            <small>@item.Issue.Name</small>
                        </td>
                        <td>
                            <small>@item.Asset.Product.ProductModel.Name @item.Asset.Product.Name</small>
                        </td>
                        <td>
                            <small>@item.DateOfCreate</small>
                        </td>
                        <td>
                            <button type="submit" class="btn btn-sm btn-primary">İlgilen</button>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
    <div id="interestedRequests" style="display:none;">
        <br />
        <table class="w-100 table-bordered table-striped table-light">
            <tr>
                <td>
                    <small class="font-weight-bold">Numara:</small>
                </td>
                <td>
                    <small class="font-weight-bold">Sorun başlığı:</small>
                </td>
                <td>
                    <small class="font-weight-bold">Sorun türü:</small>
                </td>
                <td>
                    <small class="font-weight-bold">Ürün:</small>
                </td>
                <td>
                    <small class="font-weight-bold">Oluşturma tarihi:</small>
                </td>
                <td>
                    <small class="font-weight-bold">Durum:</small>
                </td>
                <td>
                </td>
            </tr>
            @foreach (var item in Model.ManagedRequests)
            {
                using (Html.BeginForm("SetChat", "Manager", new { id = item.ChatId }, FormMethod.Post))
                {
                    <tr>
                        <td>
                            <small>@item.ChatId</small>
                        </td>
                        <td>
                            <small>@item.Title</small>
                        </td>
                        <td>
                            <small>@item.Issue.Name</small>
                        </td>
                        <td>
                            <small>@item.Asset.Product.ProductModel.Name @item.Asset.Product.Name</small>
                        </td>
                        <td>
                            <small>@item.DateOfCreate</small>
                        </td>
                        <td>
                            <small>@item.ChatStatus.Tag</small>
                        </td>
                        <td>
                            <button type="submit" name="btn" value="Connect" class="btn btn-sm btn-success">Bağlan</button>
                            <button type="submit" name="btn" value="Lock" class="btn btn-sm btn-warning">Kilitle</button>
                            <button type="submit" name="btn" value="Drop" class="btn btn-sm btn-warning">Bırak</button>
                            <button type="submit" name="btn" value="Close" class="btn btn-sm btn-danger">Kapat</button>
                        </td>
                    </tr>
                }
            }
        </table>
    </div>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#btn1').click(function () {
            $('#btn1').addClass("bg-white");
            $('#btn2').removeClass("bg-white");
            $('#requests').show();
            $('#interestedRequests').hide();
        })
        $('#btn2').click(function () {
            $('#btn2').addClass("bg-white");
            $('#btn1').removeClass("bg-white");
            $('#requests').hide();
            $('#interestedRequests').show();
        })
    })
</script>